<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Árvore de assuntos - Daniel Duarte</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" />
  <link rel="stylesheet" href="css/index.css" />
</head>

<body>
<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">
    <img src="img/tree.png" class="img-logo">
    Árvore de assuntos
  </a>
  </nav>
</header>

<main id="app" role="main">

  <section class="jumbotron">
    <div v-show="tela == 'lista'" class="container">
      <div class="card">
        <div class="card-body">
          <div class="titulo  text-center">
            <h1>Programas de estudo</h1>
          </div>
          <div>
            <div class="div-btn-novo">
              <button type="button" class="btn btn-primary" @click="exibeFormulario()"><i class="far fa-save"></i> Cadastrar novo programa</button>
            </div>
            <table v-show="programas.length > 0" class="table table-bordered table-striped">
              <thead>
              <tr>
                <th scope="col">Ações</th>
                <th scope="col">Nome</th>
                <th scope="col">Orgão</th>
                <th scope="col">Banca</th>
              </tr>
              </thead>
              <tbody>
              <tr v-for="programa in programas">
                <td class="text-center">
                  <button type="button" @click="exibeFormulario(programa.id)" class="btn btn-success" title="Editar"><i class="fas fa-edit"></i></button>
                  <button type="button" @click="excluir(programa.id)" class="btn btn-danger" title="Excluir"><i class="fas fa-trash-alt"></i></button>
                </td>
                <td>{{ programa.nome }}</td>
                <td>{{ programa.orgao.sigla }} - {{ programa.orgao.nome }}</td>
                <td>{{ programa.banca.nome }}</td>
              </tr>
              </tbody>
            </table>
            <div v-show="programas.length == 0" class="div-sem-programas">
              <h3>Nenhum Programa de estudo cadastrado!</h3>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div v-show="tela == 'cadastro'" class="container">
      <div class="card">
        <div class="card-body">
          <div class="titulo  text-center">
            <h1>Programa de estudos</h1>
          </div>
          <form class="novalidate">
            <div class="form-group">
              <label for="orgao_id">Nome</label>
              <input type="text" required v-model="formulario.nome" class="form-control">
              <div class="invalid-feedback">
                Campo obrigatório
              </div>
            </div>
            <div class="form-group">
              <label for="orgao_id">Orgão</label>
              <select required class="form-control" id="orgao_id" v-model="formulario.orgao" @change="carregaArvores()">
                <option value="">Selecione...</option>
                <option v-for="orgao in orgaos" v-bind:value="orgao.id">{{orgao.nome}}</option>
              </select>
              <div class="invalid-feedback">
                Campo obrigatório
              </div>
            </div>
            <div class="form-group">
              <label for="banca_id">Banca</label>
              <select required class="form-control" id="banca_id" v-model="formulario.banca" @change="carregaArvores()">
                <option value="">Selecione...</option>
                <option v-for="banca in bancas" v-bind:value="banca.id">{{banca.nome}}</option>
              </select>
              <div class="invalid-feedback">
                Campo obrigatório
              </div>
            </div>
            <div class="botoes text-center">
              <button type="button" class="btn btn-primary" @click="salvar()"><i class="far fa-save"></i> {{ (formulario.id != '' ? 'Editar' : 'Salvar') }}</button>
              <button type="button" class="btn btn-secondary" @click="exibeLista()"><i class="fas fa-arrow-left"></i> Voltar</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div v-show="tela == 'cadastro'" class="container">
      <div v-if="arvores">
        <div class="card-body">
          <div class="titulo text-center">
            <h1>Programa de estudos</h1>
          </div>
          <div v-html="arvores"></div>
        </div>
      </div>
    </div>


  </section>
</main>

<footer class="footer fixed-bottom text-center">
  <div class="container">
    <span class="text-muted">Daniel Duarte - 2019 © Todos os direitos reservados ®</span>
  </div>
</footer>

</body>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.8/vue.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/index.js"></script>

</html>
